<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87620758219-orpueec3lo10iod2rsp6mfm7l8kpa4tm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87620758219-orpueec3lo10iod2rsp6mfm7l8kpa4tm</string>
	<key>API_KEY</key>
	<string>AIzaSyByScJvBdPkSoGTvmwByADMr-0SMA3yXSM</string>
	<key>GCM_SENDER_ID</key>
	<string>87620758219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ed.LearningApp</string>
	<key>PROJECT_ID</key>
	<string>firestore-learning-app-1723d</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-learning-app-1723d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87620758219:ios:c14427d15e4ab7d4d1c94e</string>
</dict>
</plist>